/* Sidebar.css */
.sidebar {
    position: fixed;
    right: -250px; /* Hidden by default */
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 20px; /* Add padding to push content down */
    box-sizing: border-box; /* Include padding in height calculation */
    transition: right 0.5s ease; /* Slower transition for sidebar */
    z-index: 1001; /* Ensure sidebar is above other content */
}

.sidebar.open {
    right: 0; /* Show the sidebar */
}

.toggle-button {
    font-size: 24px;
    transition: transform 0.3s ease;
    z-index: 1002; /* Ensure button is above the sidebar */
    background: transparent; /* Make background transparent */
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer */
}

.rotate-icon {
    display: inline-block; /* Ensure it can be transformed */
    transition: transform 0.3s ease; /* Smooth rotation */
}

.rotate-icon.open {
    transform: rotate(-90deg); /* Rotate the < character */
}

.no-scroll {
    overflow: hidden; /* Disable scrolling */
}

/* Mask overlay styles */
.mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(19, 19, 19, 0.65); /* Color #131313 with 65% opacity */
    z-index: 900; /* Ensure it is below the sidebar but above other content */
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

.mask.show {
    opacity: 1; /* Fully visible when the sidebar is open */
}

.profile-photo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0; /* Remove margin entirely */
    padding-top: 0; /* Remove padding entirely */
    display: block;
}

.sidebar .profile-photo img {
    margin-bottom: 5px;
}

.sidebar .profile-photo {
    padding-top: 0;
}

.profile-photo {
    margin-top: 35px;
    padding-left: 30px;
    filter: saturate(1.4);

}

.zoom-head {
    /* Move image content further down and zoom in more */
    transform: translateY(25%) scale(1.6);
    transform-origin: 50% 50%;
    object-position: 45% 30%;
}

.profile-photo-frame {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden; /* Keeps border fixed while image zooms inside */
    border: 4px solid rgb(27, 26, 26);
}

.circular-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}